body {
    background-color: rgb(39, 119, 115);
}

.jumbotron {
    background-color: rgb(39, 119, 115);
    border-bottom: 10px solid black;
}

.hour {
    padding-top: 22.5px;
    border: 2px solid black;
    background-color: cadetblue;
    font-weight: bold;
}

textarea {
    border: 2px solid black;
    padding: 10px;
}

.btn, .clearBtn {
    background-color: lightyellow;
    border: 2px solid black;
}

.past {
    background-color: crimson;
    color: white;
}

.present {
    background-color: violet;
    color: white;
}

.future {
    background-color: cornflowerblue;
    color: white;
}